@import "~bootstrap/scss/bootstrap";

// @import "../node_modules/bootstrap/scss/functions";

// $bs-light-rgb: 250,250,250;

body {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin : 0;
    padding: 0;
}

h1 {
    font-weight: 800 !important;
    font-size  : 56px !important;
}

h2 {
    color      : #018FDE;
    font-weight: 800 !important;
    font-size  : 28px !important;
}

li {
    list-style: none;
}

// .navbar-light .navbar-nav 
.nav-link {
    color: #8792A7 !important;
}

.nav-link>span {
    color: black;
}

.nav-link.active>span {
    color: #018FDE;
}

.navbar-light .navbar-nav .nav-link.active // ,.navbar-light .navbar-nav .show>.nav-link

    {
    color: black !important;
}

#responsive-navbar-nav {
    text-align: left;
}

.navbar-toggler-menu {
    display: none;
}

.toggle {
    display: none !important;
}


.dropdown-menu {
    border    : none !important;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.04);

    & a {
        color      : #8792A7;
        font-size  : 12px;
        font-weight: 500;

    }
}

.dropdown-toggle {
    background: right 5% top 48% url(./img/coolicon_grey.png) no-repeat;

    &::after {
        opacity: 0 !important;
    }

    & a {
        font-weight: 600;
        font-size  : 26px;
    }
}

.show>#collasible-nav-dropdown {
    color     : black !important;
    background: right 5% top 48% url(./img/coolicon_up.png) no-repeat;
    ;
}


.call {
    position: relative;
}


.call_us {
    width           : 95px;
    height          : 40px;
    border          : 1px solid #121212;
    box-sizing      : border-box;
    position        : relative;
    background-color: white;
}

.us {
    position  : absolute;
    left      : -4.04%;
    top       : 9.09%;
    bottom    : 0%;
    width     : 95px;
    height    : 40px;
    border    : 1px solid #121212;
    box-sizing: border-box;
}

.call_us.active>span,
.send_to.active,
.consultation_free.active {
    color: #8792A7 !important;
}

.consultation_free,
.send_to {
    font-size  : 14px;
    font-weight: 500;
    width      : 211px;
    height     : 40px;
    border     : 1px solid #121212;
    box-sizing : border-box;
    position   : relative;
    background : #121212;
    color      : white !important;
}

.send,
.consultation {
    position: relative;
}

.to {
    position  : absolute;
    right     : 0%;
    left      : -1.86%;
    top       : 9.09%;
    bottom    : -9.09%;
    border    : 1px solid #121212;
    box-sizing: border-box;
}

.free {
    position  : absolute;
    right     : 0%;
    left      : -0.6%;
    top       : 9.09%;
    bottom    : -9.09%;
    border    : 1px solid #121212;
    box-sizing: border-box;
}

.form-control {
    font-size    : 14px !important;
    font-weight  : 500 !important;
    background   : #EEF3FC !important;
    border       : none;
    border       : 1px solid transparent !important;
    border-radius: 0 !important;

    &:focus {
        box-shadow  : none !important;
        background  : none !important;
        border-color: #8792A7 !important;
    }
}

.form-select {
    font-family: 'vector' !important;
}

.navbar-toggler {
    border-color: transparent !important;
    box-shadow  : transparent !important;

    &:focus {
        box-shadow: 0 0 0 0 !important;
    }
}

.page-footer {
    color           : white;
    height          : 360px;
    background-color: #121212;

    & p,
    li {
        color      : #DBDBDB;
        font-size  : 14px;
        font-weight: 500;
    }

    & .long-p {
        width: 250px;
        text-align: left;
    }

    & h5 {
        margin-bottom: 25px;
        margin-top   : 76px;
        font-size    : 20px;
        font-weight  : 600;
    }
}

.corner-left {
    position: relative;
    right   : 430px;
}

.corner-right {
    position: relative;
    left    : 430px;
}



@media (max-width: 768px) {
    .bg-light {
        background-color: white !important;
    }

    .collapsed>.navbar-toggler-icon {
        position        : absolute;
        right           : 130px !important;
        top             : 14px !important;
        background-image: url('./img/menu.png') !important;
    }

    .navbar-toggler-icon {
        position        : absolute;
        right           : 130px !important;
        top             : 14px !important;
        background-image: url('./img/close.png') !important;
    }

    .navbar-toggler-menu {
        display : block;
        position: absolute;
        top     : 15px;
        right   : 72px;
    }

    .call {
        display: none !important;
    }

    .toggle {
        display : block !important;
        position: absolute;
        top     : 5px;
        right   : 180px;
    }

    .dropdown-menu {

        & a {
            font-size  : 20px;
            font-weight: 600 !important;
            color      : #3D3D3D;
        }
    }

    .show>#collasible-nav-dropdown {
        color     : #018FDE !important;
        background: left 25% top 48% url(./img/coolicon_blue.png) no-repeat;
    }

    .active .nav-link>span {
        color: #018FDE;
    }

    .nav-item .show .dropdown+.nav-link>span {
        color: #121212 !important;
    }

    .show {
        & .navbar-nav {
            margin-top: 100px;
        }

        & {
            .nav-link {
                font-size  : 26px;
                font-weight: 600;
                color      : black !important;
            }
        }

        & .dropdown-toggle {
            background: left 25% top 48% url(./img/coolicon.png) no-repeat;

            &::after {
                display: none !important;
            }

            & a {
                font-weight: 600;
                font-size  : 26px;
            }
        }
    }
}

@media (max-width: 480px) {

    .navbar-toggler-menu {
        display: none;
    }

    .nav-link>span {
        color: #121212 !important;
    }

    .toggle,
    .call {
        display: none !important;
    }

    .show {
        & .dropdown-toggle {
            background: left 44% top 54% url(./img/coolicon.png) no-repeat;

            &::after {
                display: none !important;
            }

            & a {
                font-weight: 600;
                font-size  : 18px;
            }
        }

        & .nav-link {
            font-size  : 20px;
            font-weight: 600;
            color      : #121212 !important;
        }
    }

    .show>#collasible-nav-dropdown {
        color     : #121212 !important;
        background: left 44% top 54% url(./img/coolicon_phone_up.png) no-repeat;
    }

    .active .nav-link>span {
        color: #121212;
    }
}